.container {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60vw;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgb(156, 163, 175);  
}

.search {
    border: 1px solid #4b5563;
    background-color: #374151;
    color: #9ba2ae;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 15rem;
    border-radius: 0.5rem;
    padding: 0.625rem;
    font-family: "Inter", sans-serif;
    margin: 1rem 0 1rem 0;
}

.search:focus {
    outline: 2px solid #1b64f2;
}

.title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}